.fm-flex {
  display: flex;
}

.fm-border-t-1 {
  border-top: solid 1px rgb(210, 210, 210);
}

h2 {
  margin: 0;
}

.fm-pt-4 {
  padding-top: 1rem;
}

.fm-text-xl {
  font-size: 1.5rem;
  line-height: 1.25;
}
